<plugin name='cassandra-orm' version='0.0.14' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Provides GORM-like dynamic method for persisting Groovy objects into Cassandra.
</description>
  <documentation>http://grails.org/plugin/cassandra-orm</documentation>
  <type>CassandraOrmGrailsPlugin</type>
  <resources>
    <resource>com.reachlocal.grails.plugins.cassandra.orm.CassandraOrmService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.codehaus.jackson' name='jackson-mapper-asl' version='1.9.7' />
      <dependency group='org.codehaus.jackson' name='jackson-core-asl' version='1.9.7' />
    </compile>
    <runtime>
      <dependency group='com.github.stephenc.eaio-uuid' name='uuid' version='3.2.0' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>