<plugin name='cassandra-orm' version='0.4.2' grailsVersion='2.0.0 &gt; *'>
  <author>Bob Florian</author>
  <authorEmail>bob.florian@reachlocal.com</authorEmail>
  <title>Cassandra Object Persistence Framework</title>
  <description>\
Provides GORM-like dynamic methods for persisting Groovy objects into Cassandra (but does not implement the GORM API).
It also adds a number of dynamic methods and arguments specific to typical Cassandra usage, like the ability to specify consistency level and manipulate counters.
Must me used in concert with the cassandra-astyanax plugin.
</description>
  <documentation>http://grails.org/plugin/cassandra-orm</documentation>
  <type>CassandraOrmGrailsPlugin</type>
  <resources>
    <resource>com.reachlocal.grails.plugins.cassandra.orm.CassandraOrmService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.spockframework' name='spock-grails-support' version='0.7-groovy-2.0' />
    </test>
    <compile>
      <dependency group='org.codehaus.jackson' name='jackson-core-asl' version='1.9.7' />
      <dependency group='org.codehaus.jackson' name='jackson-mapper-asl' version='1.9.7' />
    </compile>
    <runtime>
      <dependency group='com.github.stephenc.eaio-uuid' name='uuid' version='3.2.0' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>